@import url(normalice.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --negroClaro: rgb(29, 30, 32);
    --negroOscuro: #191919;
    --blanco: rgb(218, 218, 219);
    --grisClaro: rgb(155, 156, 157);
}

body {
    background-color: var(--negroClaro);
    color: var(--blanco);
}

.contenedor {
    display: grid;
    grid-template-areas:
        "menu"
        "principal"
        "footer";
    grid-template-rows: auto 70vh auto;
}

/* CONTENIDO MENU */

.menu {
    display: grid;
    background-color: var(--negroOscuro);
    height: 10vh;
}

.menu-contenedor {
    display: grid;
    grid-template-areas:
        "titulo enlaces";
    align-items: center;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 12vw;
}

.menu-titulo {
    grid-area: titulo;
}

.menu-contenedor .menu-titulo .menu__titulo {
    font-size: 1.8vw;
    font-weight: bold;
}

.menu-lista {
    grid-area: enlaces;
}

.menu-contenedor .menu-lista {
    display: flex;
}

.menu-contenedor .menu-lista .menu__item a {
    font-size: 1.2vw;
    margin-left: 2vw;
    color: var(--blanco);
}

.menu__item--active a {
    font-weight: bold;
    border-bottom: 1px solid var(--blanco);
}

/* CONTENIDO PRINCIPAL */


.pagina-principal {
    display: grid;
    margin-right: 12vw;
    margin-left: 12vw;
    margin-bottom: 10vh;
}

.principal-grilla {
    margin-top: 8vh;
    display: grid;
    margin-right: 10vw;
    margin-left: 10vw;
    justify-content: center;
    text-align: center;
}

.descripcion__usuario{
    color: var(--grisClaro);
}

/* CONTENIDO REDES */

.footer {
    display: grid;
    align-items: center;
    height: 20vh;
    background-color: var(--negroOscuro);
}

.contenido-redes {
    padding: 0 5vw;
    display: grid;
    justify-items: center;
    row-gap: 1vw;
}

.redes-tarjetas {
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}

.redes-texto p {
    font-size: 0.9vw;
}

.redes-texto a {
    color: var(--grisClaro);
}

.redes-tarjetas .tarjeta {
    display: grid;
    column-gap: 5vw;
    align-items: center;
}

.redes-tarjetas .tarjeta-icono i {
    font-size: 1.7vw;
    color: var(--blanco);
}

@media only screen and (max-width: 600px) {

    .pagina-principal {
        margin-right: 0vw;
        margin-left: 0vw;
        margin-bottom: 5vh;
    }

    .menu {
        height: 20vh;
    }

    .menu-contenedor {
        display: grid;
        grid-template-areas:
            "titulo"
            "enlaces";
        margin-left: 5vw;
        row-gap: 0vh;
    }

    .menu-contenedor .menu-titulo .menu__titulo {
        font-size: 8vw;
    }

    .menu-contenedor .menu-lista .menu__item a {
        font-size: 5vw;
        margin-left: 3vw;
    }

    .principal-grilla {
        margin-top: 0vh;
        display: grid;
        margin-right: 5vw;
        margin-left: 5vw;
        row-gap: 2vh;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .nombre__usuario{
        font-size: 7.5vw;
    }

    .descripcion__usuario{
        font-size: 3.9vw;
    }

    /* CONTENIDO REDES */

    .footer {
        display: grid;
        align-items: center;
    }

    .contenido-redes {
        padding: 0;
    }

    .redes-tarjetas {
        display: flex;
        justify-content: center;
        column-gap: 5vw;
    }

    .redes-tarjetas .tarjeta {
        display: grid;
        align-items: center;
    }

    .redes-tarjetas .tarjeta-icono i {
        font-size: 8vw;
        color: aliceblue;
    }

    .redes-texto p {
        font-size: 3.5vw;
    }
}