@import url(normalice.css);

* {
    font-family: "Segoe UI", Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(29, 30, 32);
    color: rgb(218, 218, 219);
}

.contenedor{
    display: grid;
    margin-right: 12vw;
    margin-left: 12vw;
}

.menu-contenedor{
    margin-top: 3vh;
    display: grid;
    grid-template-areas: 
    "titulo enlaces";
    align-items: center;
    justify-content: space-between;
}

.menu-titulo{
    grid-area: titulo;
}

.menu-lista{
    grid-area: enlaces;
}

.menu-contenedor .menu-lista{
    display: flex;
}

.menu-contenedor .menu-titulo .menu__titulo{
    font-size: 1.8vw;
    font-weight: bold;
}

.menu-contenedor .menu-lista .menu__item{
    font-size: 1.2vw;
    margin-left: 2vw;
}

.menu-contenedor .menu-lista .menu__item a{
    color: rgb(218, 218, 219);
}

/* Contenido información */

.principal-grilla{
    margin-top: 15vh;
    margin-right: 10vw;
    margin-left: 10vw;
    display: grid;
    grid-template-areas: 
    "informacion"
    "redes"
    "habilidades";
    row-gap: 10vh;
}

.contenido-redes{
    grid-area: redes;
}

.contenido-habilidades{
    grid-area: habilidades;
}

.contenido-informacion{
    grid-area: informacion;
    display: grid;
    grid-template-areas: 
    "imagen nombre"
    "imagen descripcion";
    column-gap: 3vw;
}

.contenido-nombre{
    grid-area: nombre;
}

.contenido-descripcion{
    grid-area: descripcion;
}

.contenido-imagen{
    grid-area: imagen;
}

.contenido__descripcion{
    font-size: 1.2vw;
    color: rgb(155, 156, 157);
    letter-spacing: 1px;
}

.contenido-redes{
    display: grid;
    align-items: end;
}

.redes-tarjetas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes-tarjetas .tarjeta {
    display: grid;
    grid-template-areas:
        "imagen textos";
    column-gap: 1.5vw;
    align-items: center;
}

.redes-tarjetas .tarjeta-imagen {
    display: grid;
    grid-area: imagen;
    
}

.redes-tarjetas .tarjeta-textos {
    display: grid;
    grid-area: textos;
}

.redes-tarjetas .tarjeta-textos h4 {
    font-size: 1.2vw;
    font-weight: 500;
}

.redes-tarjetas .tarjeta-textos a {
    font-size: 1.2vw;
    color: rgb(155, 156, 157);

}

/* CONTENIDO HABILIDADES */

.habilidades-grilla{
    display: flex;
    flex-wrap: wrap;
}

.habilidad .habilidad__titulo{
    font-size: 1.5vw;
}

/* CONTENIDO PROYECTOS */

.proyectos-grilla { 
     display: grid; 
     grid-template-areas: 
         "titulo" 
         "tarjetas"; 
     row-gap: 2vh; 
 } 
  
  
 .proyectos-grilla .tarjetas { 
     display: flex; 
     grid-area: tarjetas; 
     flex-wrap: wrap; 
     justify-content: center; 
     column-gap: 3vw; 
     row-gap: 1vw; 
 } 
  
 .proyectos-grilla .tarjeta { 
     display: grid; 
     grid-template-areas: 
         "icono lenguaje" 
         "titulo titulo" 
         "descripcion descripcion" 
         "comentarios comentarios" 
         "boton boton"; 
     height: 30vh; 
     border-radius: 2%; 
     background-color: #191919; 
     color: azure; 
      /*  
     width: 22vw; 
     padding: 0.6vw; 
     */ 
     
     width: 30vw; 
     padding: 1vw; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-icono { 
     grid-area: icono; 
     text-align: start; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-lenguaje { 
     grid-area: lenguaje; 
     margin-top: 1.5vh; 
     text-align: end; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-titulo { 
     grid-area: titulo; 
     text-align: start; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-descripcion { 
     grid-area: descripcion; 
     text-align: start; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios { 
     grid-area: comentarios; 
     text-align: start; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-boton { 
     text-align: start; 
     grid-area: boton; 
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-icono img { 
     height: 5vh; 
     width: auto; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla{ 
     display: flex; 
     column-gap: 0.3vw; 
     } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla .tarjeta__comentario { 
     font-size: 0.7vw; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla .tarjeta-comentarios-bloque { 
     padding: 0.1vw; 
     border-radius: 10%; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-lenguaje .tarjeta__lenguaje{ 
     font-size: 0.9vw; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-titulo .tarjeta__titulo{ 
     text-transform: uppercase; 
     font-size: 1.2vw; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-descripcion .tarjeta__descripcion{ 
     font-size: 0.95vw; 
     line-height: 1.5; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-boton a { 
     color: #59bd85; 
 }

@media only screen and (max-width: 600px) {

    .contenedor{
        margin: 0;
    }

    .menu-contenedor{
        display: grid;
        grid-template-areas: 
        "titulo" 
        "enlaces";
        justify-content: start;
        margin-left: 5vw;
        row-gap: 5vh;
    }

    .menu-contenedor .menu-titulo .menu__titulo{
        font-size: 8vw;
    }
    
    .menu-contenedor .menu-lista .menu__item{
        font-size: 5vw;
        margin-left: 3vw;
    }

    .principal-grilla{
      margin-top: 5vh;
      margin-right: 5vw;
      margin-left: 5vw;
      row-gap: 5vh;
    }

    .contenido-informacion{
        grid-template-areas: 
        "imagen"
        "nombre"
        "descripcion";
    }

    .contenido__nombre{
        font-size: 8vw;
    }

    .contenido__descripcion{
        font-size: 5vw;
    }

    .contenido-imagen{
        display: none;
    }
    
    .contenido-redes{
        display: grid;
        align-items: end;
    }
    
    .redes-tarjetas {
        display: flex;
        justify-content: start;
        column-gap: 2vw;
        align-items: center;
    }

    .redes-tarjetas .tarjeta-imagen{
        font-size: 4vw;
    }
    
    .redes-tarjetas .tarjeta-textos {
        display: none;
    }

    .habilidades-grilla{
        display: flex;
        align-items: center;
        column-gap: 20vw;
        flex-direction: row;
        justify-content: center;
    }

    .habilidad .habilidad-titulo{
        display: grid;
        justify-content: center;
    }

    .habilidad .habilidad__titulo{
        font-size: 5vw;
    }

    .habilidad .habilidad__imagen{
        height: 15vh;
        width: auto;
    }
    
    /* CONTENIDO PROYECTOS */
    
    .proyectos-grilla { 
     display: grid; 
     grid-template-areas: 
         "titulo" 
         "tarjetas"; 
     row-gap: 2vh; 
 } 
  
  
 .proyectos-grilla .tarjetas { 
     display: flex; 
     grid-area: tarjetas; 
     flex-wrap: wrap; 
     justify-content: center; 
     column-gap: 3vw; 
     row-gap: 3vw;
 } 
  
 .proyectos-grilla .tarjeta { 
     display: grid; 
     grid-template-areas: 
         "icono lenguaje" 
         "titulo titulo" 
         "descripcion descripcion" 
         "comentarios comentarios" 
         "boton boton"; 
     height: 35vh; 
     border-radius: 2%; 
     background-color: #191919; 
     color: azure; 
      /*  
     width: 22vw; 
     padding: 0.6vw; 
     */ 
     
     width: 83vw; 
     padding:3vw;
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-icono { 
     grid-area: icono; 
     text-align: start; 
     font-size: 8vw;
     color: #FFC857;
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-lenguaje { 
     grid-area: lenguaje; 
     margin-top: 1.5vh; 
     text-align: end; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-titulo { 
     grid-area: titulo; 
     text-align: start; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-descripcion { 
     grid-area: descripcion; 
     text-align: start; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios { 
     grid-area: comentarios; 
     text-align: start; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-boton { 
     text-align: start; 
     grid-area: boton; 
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-icono img { 
     height: 7vh; 
     width: auto; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla{ 
     display: flex; 
     column-gap: 0.3vw; 
     } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla .tarjeta__comentario {   height: 3vh;
     width: auto;
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-comentarios .tarjeta-comentarios-grilla .tarjeta-comentarios-bloque { 
     padding: 0.1vw; 
     border-radius: 10%; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-lenguaje .tarjeta__lenguaje{ 
     font-size: 4vw; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-titulo .tarjeta__titulo{ 
     text-transform: uppercase; 
     font-size: 4vw; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-descripcion .tarjeta__descripcion{ 
     font-size: 4vw; 
     line-height: 1.5; 
 } 
  
 .proyectos-grilla .tarjeta .tarjeta-boton a { 
     color: #59bd85; 
 }

}